.cards-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-top: 1rem;

	.card {
		margin-inline: auto;
		box-shadow: $box-shadow;
		display: flex;
		border-radius: $base-border-radius;
		font-size: $base-font-size;
		background: $gradient-primary;
		width: 20rem;
		height: 10rem;
		color: $light;
		cursor: pointer;

		.card-left-side {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			margin: 1rem;
			.card-title {
				font: {
					size: $font-size-lg;
					weight: bold;
				}
			}

			.ghost-button {
				text-align: center;
				padding: 0.5rem;
				width: 90%;
				border-radius: $border-radius-rounded;
				a {
					color: black;
				}
			}
		}
		img {
			width: 10rem;
			border-radius: inherit;
		}
	}
}
@media screen and (min-width: 700px) {
	.cards-container {
		grid-template-columns: repeat(4, 1fr);

		.card {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
