blockquote {
	font-size: $font-size-lg;
	margin-top: 1rem;
	text-align: center;
}

.cards-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-top: 1rem;

	.card {
		margin-inline: auto;
		box-shadow: $box-shadow;
		display: flex;
		align-items: center;
		border-radius: $base-border-radius;
		font-size: $base-font-size;
		background: $gradient-primary;
		width: 20rem;
		height: 10rem;
		color: white;

		p {
			margin-left: 1rem;
			width: 50%;
		}

		img {
			width: 10rem;
			border-radius: inherit;
		}
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}
@media screen and (min-width: 700px) {
	.cards-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
