.profile-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: {
		top: 2rem;
		inline: 3rem;
	}

	img {
		width: 45%;
		align-self: center;
		border: solid 2px $primary;
		border-radius: 100%;
	}

	.ctr-button {
		font-size: $font-size-lg;
		padding: 0.7rem;
		margin: auto;
		margin-top: 2rem;
		width: 100%;
	}

	ul {
		font-size: $base-font-size;
		list-style: none;
	}
}

.settings-container {
	.setting-card {
		padding: 1rem;
		margin: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-lg;
		border-radius: $base-border-radius;
		background-color: $secondary;
	}
	.toggle {
		width: 3rem;
		height: 1.5rem;
		border-radius: $border-radius-rounded;
		background: $dark;
		cursor: pointer;

		.indicator {
			width: 1.5rem;
			height: 1.5rem;
			position: relative;
			left: 0;
			background-color: $light;
			border-radius: $border-radius-rounded;
			transform: scale(0.9);
		}
	}
	.toggle-active {
		@extend .toggle;
		background-color: $light;
		border: solid 1px;
		.indicator {
			@extend .indicator;
			left: 1.5rem;
			background-color: $dark;
		}
	}
}

.about-container {
	p {
		margin: {
			top: 1rem;
			inline: 2rem;
		}
	}
	ul {
		margin: {
			top: 1rem;
			inline: 2rem;
		}
	}
}

@media screen and (min-width: 700px) {
	.profile-container {
		img {
			width: 20%;
		}

		.ctr-button {
			width: 50%;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
