input,
button,
select {
	border: none;
	outline: none;
}

.ctr-button {
	background: $gradient-primary;
	box-shadow: $box-shadow;
	font-size: $base-font-size;
	padding: 1rem;
	border-radius: $base-border-radius;
	cursor: pointer;
}
.ghost-button {
	border: {
		style: solid;
		color: $secondary;
		radius: $base-border-radius;
		width: 2px;
	}
	font-size: $base-font-size;
	padding: 1rem;
	cursor: pointer;
}

input[type="text"] {
	padding: 0.7rem;
	font-size: $font-size-lg;
	border-radius: $base-border-radius;
	background-color: $secondary;

	&:focus {
		border-bottom: solid $primary 5px;
	}
}

.genre-selector {
	padding: 0.7rem;
	font-size: $font-size-lg;
	border-radius: $base-border-radius;
	background-color: $secondary;
	cursor: pointer;
	width: 100%;
}

@media screen and (min-width: 700px) {
	.profile-container {
		align-items: center;
	}
	input[type="text"] {
		width: 50%;
	}
}
