.full-bar {
	position: sticky;
	top: 0px;
	z-index: 1;

	.nav-bar,
	.nav-bar-active {
		backdrop-filter: blur(2rem);
		position: absolute;
		left: 0px;
		padding: 1rem;
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0px 20px 20px 0px;
		box-shadow: $box-shadow;
		ul {
			width: 100%;

			li {
				margin-top: 2rem;
				list-style: none;
				&:nth-child(1) {
					margin-top: 1rem;
				}

				img {
					width: 20px;
					justify-self: left;
				}

				a {
					color: black;
					text-decoration: none;
					font-size: 1.3rem;
					padding: 1rem;
					border-radius: $base-border-radius;

					&.router-link-exact-active {
						background: $gradient-primary;
						color: $secondary;
						padding: 0.5rem 2.5rem;
					}
				}
			}
		}
	}

	.nav-bar {
		transform: translateX(-100%);
	}

	.nav-bar-active {
		transform: translateX(0%);
	}

	.title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		backdrop-filter: blur(2rem);
		gap: 4rem;

		img {
			width: 30px;
			border-radius: $border-radius-rounded;
		}
		a {
			font-size: $font-size-xl;
			color: black;
			text: {
				align: left;
				decoration: none;
			}
		}

		.burger,
		.toggle-burger {
			cursor: pointer;
			div {
				width: 20px;
				height: 2px;
				margin: 5px;
				background-color: black;
			}
		}

		.toggle-burger {
			.line-1 {
				transform: rotate(-45deg) translate(-5px, 5px);
			}

			.line-2 {
				opacity: 0;
			}

			.line-3 {
				transform: rotate(45deg) translate(-5px, -5px);
			}
		}
	}
}
@media screen and (min-width: 700px) {
	.full-bar {
		.burger {
			display: none;
		}
		.title {
			h3 {
				display: none;
			}
			img {
				display: none;
			}
		}
		.nav-bar {
			display: flex;
			margin: {
				top: 1rem;
				inline: auto;
			}
			transform: translateX(0%);
			width: 95%;
			padding: 0.2rem;
			position: relative;
			border-radius: $base-border-radius;

			ul {
				margin-top: 0rem;
				display: flex;
				list-style: none;
				justify-content: space-around;
				padding: 1rem;

				li,
				.nav-bar-active li {
					&:nth-child(1) {
						margin-top: 0rem;
					}
					margin-top: 0;

					a {
						font-size: 1.5rem;

						&:hover {
							background: white;
						}

						&.router-link-exact-active {
							color: black;
							box-shadow: $box-shadow;
						}
					}
				}
			}
		}
	}
}
